<!--
CS 340 – Introduction to Databases
Project: NextUp – A One-Stop Media Tracker
Group 11: Julia Reynolds, Stephen Stanwood

File: tracker-entries.hbs

Original work. No AI or external resources were used.
-->

  <!-- Nav Bar -->
<header id="webHeader">
    <div id="headerInnerFrame">
      <a id="siteName" href="/">NextUp: A One-Stop Media Tracker</a>
      <h1 id="role">Admin</h1>
    </div>

    <div class="navbar">
        <nav>
            <a class="navButton" href="/users">Users</a>
            <a class="navButton active" href="/tracker-entries">User Tracking</a>
            <a class="navButton" href="/sports-events">Sports</a>
            <a class="navButton" href="/media-items">Other Media</a>
            <a class="navButton" href="/demo-delete">Delete (Test)</a>
        </nav>

        <a class="resetButton" href="/reset">
            <img src="/icons/reset.svg" alt="Reset"/>
            <p class="hidden">Reset Database</p>
        </a>
    </div>
</header>

<!-- Main Content -->
<main class="mainView">

    <div class="tableBox">
        <h1 class="tableName">User Tracker Entries</h1>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>User</th>
                    <th>Title / Event</th>
                    <th>Status</th>
                    <th>Saved At</th>
                    <th>Completed At</th>
                    <th>
                        <button type="button" class="addButton" data-target="addTrackerForm" aria-expanded="false">
                            <img src="/icons/add.svg" alt="Add"/>
                            add
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody> 
                {{#each data}}
                    <tr>
                    <td>{{this.entryID}}</td>
                    <td>{{this.user}}</td>
                    <td>{{this.trackedItem}}</td>
                    <td>{{this.status}}</td>
                    <td>{{this.savedAt}}</td>
                    <td>{{this.completedAt}}</td>
                    <td>
                        <div class="buttonContainer">
                                <button type="button" class="editButton">
                                    <img src="/icons/edit.svg" alt="Edit"/>
                                </button>
                                <form id="deleteTrackerForm" method='POST' action='/tracker-entries/delete'>
                                    <input type="hidden" value="{{this.entryID}}" name="delete_entryID">
                                    <button type="submit" class="deleteButton">
                                        <img src="/icons/delete.svg" alt="Delete"/>
                                    </button>
                                </form>
                        </div>
                    </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <div class="tableBox hidden" id="addTrackerForm" method='POST' action='/tracker-entries/insert'>
        <h2 class="formName">Add Tracker Entry</h2>
        <form class="form">
            <label>User:
                <input class="textBox" type="text" name="username">
            </label><br>
            <label>Tracked Item:
                <input class="textBox" type="text" name="trackedItem">
            </label><br>
            <label>Status:
                <select class="textBox" name="status">
                    <option value="TO_WATCH">TO_WATCH</option>
                    <option value="WATCHING">WATCHING</option>
                    <option value="WATCHED">WATCHED</option>
                </select>
            </label><br>
            <label>Saved At:
                <input class="textBox" type="datetime-local" name="savedAt">
            </label><br>
            <label>Completed At:
                <input class="textBox" type="datetime-local" name="completedAt">
            </label><br>
            <div class="buttonBox">
                <button type="button" class="cancelButton">
                    cancel
                </button>
                <button type="submit" class="doneButton">
                    <img src="/icons/check.svg" alt="Add Tracker Entry"/>
                    add entry
                </button>
            </div>
        </form>
    </div>

    <div class="tableBox hidden" id="updateTrackerForm" method='POST' action='/tracker-entries/update'>
        <h2 class="formName">Update Tracker Entry</h2>
        <form class="form">
            <label>Entry ID:
                <input class="textBox" type="number" name="entryID">
            </label><br>
            <label>Status:
                <select class="textBox" name="status">
                    <option value="TO_WATCH">TO_WATCH</option>
                    <option value="WATCHING">WATCHING</option>
                    <option value="WATCHED">WATCHED</option>
                </select>
            </label><br>
            <label>Completed At:
                <input class="textBox" type="datetime-local" name="completedAt">
            </label><br>
            <div class="buttonBox">
                <button type="button" class="cancelButton">
                    cancel
                </button>
                <button type="submit" class="doneButton">
                    <img src="/icons/check.svg" alt="Update Tracker Entry"/>
                    update entry
                </button>
            </div>
        </form>
    </div>

<!--
<h2>Delete Tracker Entry (DELETE)</h2>
<form>
    <label>Entry ID:
        <input type="number" name="entryID">
    </label><br>
    <button type="submit">Delete Tracker Entry</button>
</form> -->

</main>